@charset 'utf-8';
body {
    font-family: 'Microsoft YaHei','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:12px;
}
.nav {
    width:180px;
    height:auto;
    float:left;
    margin:0px 0px 0px 0px;
}
.menu_item {
    width:100%;
    overflow:hidden;
    text-align:center;
    margin-bottom:5px;
}
.menu_item_title {
    border-style: none;
    border-color: inherit;
    border-width: 0;
    width:100%;
    height:35px;
    background:url(/images/new/menu_title.jpg);
    padding:0 15px 0 20px;
    position:relative;
    z-index:1;
    text-align:left;
    outline:0;
    top: 0px;
    left: 0px;
    cursor:pointer;
    border-radius:4px;
}
.menu_item_title span {
    vertical-align:middle;
    color:#fff;
    font-size:14px;
    font-weight:bold;
    line-height:35px;
}
.menu_item_title span img {
    vertical-align:middle;
    line-height:35px;
    width:16px;
    height:16px;
}
.menu_item_title img {
    width:16px;
    height:16px;
    line-height:35px;
}
.menu_item_content {
    width:100%;
    background:#fff;
    display:none;
}
.menu_item_content ul {
    display:inline;
    left:0px;
    margin:0px;
    top:0px;
    bottom:0px;
    padding:0px;
}
.menu_item_content ul li {
    float:left;
    width:180px;
    margin:0 auto;
    white-space:nowrap;
    background:url(/images/new/menu.jpg);
    line-height:30px;   
    color:#000;
    margin-bottom:1px;
    text-decoration:none;
}
.menu_item_content ul li:hover {
    color:#000;
    font-weight:bold;
    text-decoration:none;
}
.menu_item_content ul li a {
    color:#000;
    cursor:pointer;
    padding-left:10px;
    display:block;
    font-size:14px;
    text-align:left;
    margin-left:25px;
    text-decoration:none;
}
.menu_item_content ul li a:hover {
    color:#000;
    font-weight:bold;
    text-decoration:none;
}
